<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    
    <!--<app-recipe-item
    *ngFor="let recipeElement of recipes"
    [recipe]="recipeElement"
    (recipeSelected)="onRecipeSelected(recipeElement)">
    <!--recipe in square brackets is property in component we're placing this on-->
    <!--Need to go one more level up from here
    </app-recipe-item>-->

    <!--with services no more event listener-->
    <app-recipe-item
    *ngFor="let recipeElement of recipes"
    [recipe]="recipeElement">
    <!--recipe in square brackets is property in component we're placing this on-->
    <!--Need to go one more level up from here-->
    </app-recipe-item>
  </div>
</div>

